# Configuration for resolvconf(8)
# See resolvconf.conf(5) for details

resolv_conf=/etc/resolv.conf
# If you run a local name server, you should uncomment the below line and
# configure your subscribers configuration files below.
name_servers="127.0.0.1 ::1"
{% if dns_resolver == 'dnscrypt-proxy' %}
resolv_conf_options="edns0"
{% endif %}
