# /etc/ntpd.conf
# See ntpd.conf(5) and /etc/examples/ntpd.conf

{% for pool in ntp_opts.pools %}
servers {{ pool }}
{% endfor %}

{% for server in ntp_opts.servers %}
server {{ server }}
{% endfor %}

sensor *

constraint from "9.9.9.9" "2620:fe::fe"
constraint from "1.1.1.1" "2606:4700:4700::1111"

constraints from "fosstodon.org"
